{{#partial "contenido" }}

<body>
  <div class="administrar-usuarios">
    <h1 class="cargar-text">Administrar Usuarios</h1>

    <div class="input-group mb-2 buscar-usuarios">
      <input type="text" class="form-control search" aria-label="Buscar Usuario" placeholder="Buscar usuario">
      <span class="input-group-text search-button"><img src="/img/logos/search.svg" alt="icono-busqueda" class="icono-busqueda" />
      </span>
    </div>
    <table class="table tabla-usuarios">
      <thead>
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Rol</th>
        </tr>
      </thead>
      <tbody>
       {{#each usuarios as |usuario|}}
            <tr>
                <th scope="row">{{usuario.email}}</th>
                <td>
                  <select class="form-select" aria-label="Default select example">
                   <option selected value="{{usuario.rol}}" selected disabled>{{usuario.rol}}</option>
                   {{#each usuario.roles as |rol|}}
                   <option value="{{this}}">{{rol}}</option>
                   {{/each}}
                  </select>
                </td>
                </tr>
              {{/each}}
      </tbody>
    </table>
    <button type="button" class="btn btn-primary guardar-cambios">Guardar cambios</button>
  </div>
  {{/partial}}
  {{> templates/base }}